.icon-left {
    position: absolute;
    top: 10px;
    left: 10px;
  
}
.icon-right{
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.winter i{
   color:darkblue; 
}
.summer i{
    color: rgb(251, 221, 145);
}
.winter {
    background-color: aliceblue; 
}
.summer {
    background-color: orange;
}
.season-display{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}


